// fonts variables
$PublicSans: "Public Sans";
$DM-serif: "DM Serif";
$RobotoMono: "RobotoMono";

//variables for texts
$main-text-color: #6c8294;
$main-title-color: #36536b;
$main-background-color: #1b262f;
$button-color: #ba4270;
